.centeredcontainer
  %p#notice= notice
  %h1 Search Landlords 
  = form_tag realtors_path, :method => 'get' do
    %p
      = text_field_tag :search, params[:search]
      = submit_tag "Search", :class => 'btn btn-primary', :name => nil
    %hr
.container
  -if(@realtors.count == 0)
    -if current_user
      %h4=link_to 'None exist yet, create one here!', new_realtor_path
    -else
      %h4 None exist yet
    %hr
  - @realtors.each do |realtor|
    .row
      .col-md-10
        %h2= link_to(realtor.name,realtor)
        %h4= realtor.address 
        %h4= realtor.college 
        %h4
          #{realtor.reviews.average(:score).to_f.round(1)}/5.0
          rated
          %i by
          #{realtor.reviews.count} users



        -if current_user
          -if current_user.admin?
            %td= link_to 'Edit ', edit_realtor_path(realtor) 
            %td= '|'
            %td= link_to ' Destroy', realtor, method: :delete, data: { confirm: 'Are you sure?' }
    %hr
    .row{:style => 'margin-bottom: 5px;'}

