.container
  .row
    .col-md-8
      %h1
        = @realtor.name
      %p
        %strong Address:
        = @realtor.address
      %p
        %strong College:
        = @realtor.college
      %p
        %strong Website:
        = @realtor.realtor_url
      %p
        %strong Affordability:
        #{@realtor.reviews.average(:affordability)}/5.0
        rated
        %i by
        #{@realtor.reviews.count} users
      %p
        %strong Helpfulness:
        #{@realtor.reviews.average(:helpfulness)}/5.0
        rated
        %i by
        #{@realtor.reviews.count} users
      %p
        %strong Accomodations:
        #{@realtor.reviews.average(:accomodation)}/5.0
        rated
        %i by
        #{@realtor.reviews.count} users
      %p
        %hr
        - @realtor.reviews.each do |i|
          %h3= i.comments
          %i= i.created_at.to_s(:long)


      -if current_user.admin?
        = link_to 'Edit', edit_realtor_path(@realtor)

      #{link_to 'Back ', realtors_path}|
      #{link_to 'Review ', new_review_path(:realtor_id => @realtor.id, :realtor_name => @realtor.name)}|
      #{link_to 'Look at Their Properties ', properties_path(:realtor_id => @realtor.id)}|
      #{link_to 'Add a Property', new_property_path(:realtor_id => @realtor.id, :realtor_name => @realtor.name)}
    .col-md-8
