.container
  %p#notice= notice

  - @properties.where(realtor_id: (params[:realtor_id])).each do |property|
    .row
      .col-md-10
        %h2= property.address 
        %h4
          #{property.property_reviews.average(:score)}/5.0
          rated
          %i by
          #{property.property_reviews.count} users

        = link_to 'More Info', property
        -if current_user.admin?
          %td= link_to 'Edit', edit_property_path(property)
          %td= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' }
    %hr
    .row{:style => 'margin-top: 15px'}

