.centeredcontainer
  %p#notice= notice
  %h1
    Properties for #{params[:realtor_name]}
  %hr
.container
  -if(@properties.where(realtor_id: (params[:realtor_id])).count == 0)
    -if current_user
      %h4=link_to 'None exist yet, create one here!',new_property_path(:realtor_id=>params[:realtor_id],:realtor_name=>params[:realtor_name])
    - else
      %h4 None exist yet
    %hr
  - @properties.where(realtor_id: (params[:realtor_id])).each do |property|
    .row
      .col-md-10
        %h2= link_to(property.address, property) 
        %h4
          #{property.property_reviews.average(:score)}/5.0
          rated
          %i by
          #{property.property_reviews.count} users


        -if current_user 
          -if current_user.admin?
            %td= link_to 'Edit', edit_property_path(property)
            %td= ' | '
            %td= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } 

    %hr

  .row{:style => 'margin-top: 15px'}
    %a
      =link_to 'Back to Landlord', :back

