.container
  %p#notice= notice
  %h1 Trending Scotches
  - @scotches.each do |scotch|
    .row
      .col-md-2.text-center
        = image_tag scotch.image.url, :style => 'height: 200px'
      .col-md-10
        %h2= scotch.name
        %h4
          #{scotch.reviews.average(:score)}/5.0
          rated
          %i by
          #{scotch.reviews.count} users
        = link_to 'Show', scotch
        -if current_user.admin?
          %td= link_to 'Edit', edit_scotch_path(scotch)
          %td= link_to 'Destroy', scotch, method: :delete, data: { confirm: 'Are you sure?' }
  -if current_user.admin?
    .row{:style => 'margin-top: 15px'}
      .col-md-12= link_to 'New Scotch', new_scotch_path
