.container
  %p#notice= notice
  %h1 Trending Scotches
  - @scotches.each do |scotch|
    .row
      .col-md-2
        = image_tag scotch.image.url
      .col-md-10
        %h2= scotch.name
        = link_to 'Show', scotch
        -if current_user.admin?
          %td= link_to 'Edit', edit_scotch_path(scotch)
          %td= link_to 'Destroy', scotch, method: :delete, data: { confirm: 'Are you sure?' }
  -if current_user.admin?
    %div= link_to 'New Scotch', new_scotch_path