<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scotch.name %>
</p>

<p>
  <strong>Distiller:</strong>
  <%= @scotch.distiller %>
</p>

<p>
  <strong>Affiliate price:</strong>
  <%= @scotch.affiliate_price %>
</p>

<p>
  <strong>Affiliate name:</strong>
  <%= @scotch.affiliate_name %>
</p>

<p>
  <strong>Affiliate url:</strong>
  <%= @scotch.affiliate_url %>
</p>

<p>
  <strong>Story:</strong>
  <%= @scotch.story %>
</p>

<%= link_to 'Edit', edit_scotch_path(@scotch) %> |
<%= link_to 'Back', scotches_path %>
