.container
  .row
    .col-md-4
      = image_tag @scotch.image.url, :style => 'width: 360px'
    .col-md-8
      %h1
        = @scotch.name
      %p
        %strong Distiller:
        = @scotch.distiller
      %p
        Available for $#{@scotch.affiliate_price}
        %i (with shipping)
        at
        =link_to @scotch.affiliate_name, @scotch.affiliate_url
      %p
        = @scotch.story
      -if current_user.admin?
        = link_to 'Edit', edit_scotch_path(@scotch)

      #{link_to 'Back', scotches_path}
    .col-md-8
