= form_for(@review) do |f|
  - if @review.errors.any?
    #error_explanation
      %h2
        = pluralize(@review.errors.count, "error")
        prohibited this review from being saved:
      %ul
        - @review.errors.full_messages.each do |message|
          %li= message
  .field

  .field
    = f.label :score
    %br
      = f.number_field :score
  .field
    = f.label :had_it
    %br
      = f.check_box :had_it
  .field
    = f.label :want_it
    %br
      = f.check_box :want_it
  .field
    = f.label :favorite
    %br
      = f.check_box :favorite
  .actions
    = f.submit 'Save', :class => 'btn btn-primary'