= form_for(@review) do |f|
  - if @review.errors.any?
    #error_explanation
      %h2
        = pluralize(@review.errors.count, "error")
        prohibited this review from being saved:
      %ul
        - @review.errors.full_messages.each do |message|
          %li= message
 
  
  .form-group
    %b Score
    %br
    -(1..5).each do |i|
      = f.label :score, :class => 'radio-inline' do
        = f.radio_button :score, i
        =i

  .form-group
    %b Affordability
    %br
    -(1..5).each do |i|
      = f.label :affordability, :class => 'radio-inline' do
        = f.radio_button :affordability, i
        =i

  .form-group
    %b Helpfulness
    %br
    -(1..5).each do |i|
      = f.label :helpfulness, :class => 'radio-inline' do
        = f.radio_button :helpfulness, i
        =i

  .form-group
    %b Accomodations
    %br
    -(1..5).each do |i|
      = f.label :accomodation, :class => 'radio-inline' do
        = f.radio_button :accomodation, i
        =i

  =f.hidden_field(:realtor_id, :value => (params[:realtor_id]))

  .form-group
    =f.text_area(:text, size: '50x10') :comments, :value => "comments"

  =f.hidden_field(:user_id, :value => current_user.id)

  .form-group
    = f.submit 'Save', :class => 'btn btn-primary'









