.container
  %p#notice= notice
  %p
    %strong Scotch:
    = @review.realtor.name
  %p
    %strong Score:
    = @review.score
  %p
    %strong Helpfulness:
    = @review.helpfulness
  %p
    %strong Accomodations:
    = @review.accomodation
  %p
    %strong Affordability:
    = @review.affordability
  %p
    %strong Comments:
    = @review.comments

  = link_to 'Edit', edit_review_path(@review)
  |
  \#{link_to 'Back', reviews_path}
